.App {
  text-align: center;
}

.App-header {
  height: 140px;
  padding: 10px;
  color: white;
  font-size: 2em;
}

h2 {
  margin: 0px;
}

a {
  font-weight: 600;
  color: #DEFFF9;
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.small {
  font-size: 10px;
  line-height: 10px;
  margin: 0px;
}

.blank {
  top: -5px;
  position: relative;
}

#scooter {
  height: 60px;
  top: 10px;
  position: relative;
}

.box {
  padding: 10px;
  display: flex;
  background-color: #DEFFF9;
  border: 1px solid #334D5C;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;

  vertical-align: center;
  justify-content: center;
  align-items: center;
  line-height: 20px;

  color: #334D5C;
  font-size: 1.1em;
  font-weight: 500;
}

@media (max-width: 550px) {
  .box {
    font-size: .9em;
  }
}

@media (max-width: 400px) {
  .box {
    font-size: .7em;
  }
}

@media (max-width: 360px) {
  .box {
    font-size: .65em;
  }
}

@media (max-width: 320px) {
  .box {
    font-size: .6em;
  }
}

#board {
  max-width: 600px;
  height: 600px;
  margin: auto;
}

.box.clicked:not(.free){
  background-color: #ffd903;
}

.free {
  background-color: red;
  font-size: 50px;
  text-align: center;
}

.small-caps {
  font-variant: small-caps;
  font-size: 2.2em;
  color: #888;
  opacity: 0.5;
  line-height: 40px;
}

.yellow {
  color: #ffd903;
}

#explanations {
  margin-right: auto;
  margin-left: auto;
  max-width: 560px;
  min-width: 320px;
  padding: 20px;
}

.list {
  color: #ffd903;
  padding-left: 10px;
}

.list p {
  color: white;
  text-align: left;
}
