.App {
  text-align: center;
}

.App-header {
  height: 100px;
  padding: 10px;
  color: white;
  font-size: 2em;
}

h2 {
  margin: 0px;
}

#scooter {
  height: 60px;
  top: 10px;
  position: relative;
}

.box {
  padding: 10px;
  display: flex;
  background-color: #DEFFF9;
  border: 1px solid #334D5C;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;

  vertical-align: center;
  justify-content: center;
  align-items: center;
  line-height: 20px;

  color: #334D5C;
  font-size: 1.1em;
  font-weight: 500;

}

#board {
  max-width: 600px;
  height: 600px;
  margin: auto;
}

.box.clicked:not(.free){
  background-color: #ffd903;
}

.free {
  background-color: red;
  font-size: 50px;
  text-align: center;
}

.small-caps {
  font-variant: small-caps;
}

.yellow {
  color: #ffd903;
}

#explanations {
  margin-right: auto;
  margin-left: auto;
  width: 560px;
  padding: 20px;
}

.list {
  color: #ffd903;
  padding-left: 10px;
}

.list p {
  color: white;
  text-align: left;
}

.bold {
  font-weight: bold;
}
